form{
    /*background-color: #E6EFF5;*/ 
    background-attachment:fixed;
    padding: 0;
    width: 1280px;
    margin:0 auto;
}

body {
    background-image:url("../background1.jpg");  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;  
    padding:0;
    margin:0;  
}

.header{
    width:100%;
    height:auto;   
}

.color-content{
    background-color:#E6EFF5;
}

.header .name_university{
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    color:#169EEC;
}

/*css класс для правильного расположения ссылок на другие страницы*/
nav{
    background-color: #E6EFF5;
    display:inline;
    margin:0 auto;
}

nav ul{
    display:block;  
    text-align:center;
    padding:0;
    list-style:none;
    height:auto;
    text-wrap:none;    
}
li{
    margin:10px auto;
    display:inline-block;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;    
    background: #EBF3F2;
    height:auto;
    border-bottom:2px solid #F0DE94;
    text-align:center;
    vertical-align:central;
}

li .btn{
    text-decoration: none;
    font-size: 13px;
    font-weight:bold;
    color: black;
    position: relative;
    background: #EBF3F2;
    flex-wrap:nowrap;
    text-wrap:normal;
}

li .btn:visited{
    color:black;
}

li .btn:hover{
    top:-1px;
    text-decoration:none;
    color:black;
}

li .btn:active, li .btn:focus{
    top:1px;   
}

ul li#li_for_href_findForm .ul_manager {
    display:none;
}

.ul_manager{
    position:relative;
}

ul #li_for_href_findForm{
    vertical-align:top;
}
ul #li_for_href_findForm .bttn {  
    top:1px;
    left:1px;    
    box-shadow:rgba(0, 0, 0, .30) 4px 4px 4px;
    -moz-box-shadow:1rgba(0, 0, 0, .30) 4px 4px 4px;
    -webkit-box-shadow:rgba(0, 0, 0, .30) 2px 2px 2px;
}

ul #li_for_href_findForm:hover .ul_manager {
    display:block;
    background:none;
    border-bottom:none;
    position:absolute;
}

ul #li_for_href_findForm:hover{
    background:none;
    border-bottom:none;
}

ul #li_for_href_findForm .ul_manager .li_manager{
    margin-bottom:0;
    margin-top:3px;
}

ul #li_for_href_findForm:hover .ul_manager .li_manager {
    width:auto;
    display:block;    
    text-align:left;
    left:80px;
    border-bottom:none;
    background:none;
    border-bottom:none; 
    margin-top:15px;   
}



.layout{
    /*float:left;
    width:940px;*/
    width:100%;
    padding:0 20px;
    max-height:800px;
    overflow-y:scroll;
    margin:0 auto;
}

.content{
    width:auto;
    margin:0 auto;       
}

.leftcolumn{
    float:left;
    width:150px;
    height:20px;
    /*background-color:black;*/
}

aside{
    float:right;
    width:150px;
    height:20px;
    /*background-color:black;*/
}

#for_ContentPage{
    width:100%;
    margin:0 auto;    
}

@media (max-width:1280px){    
    form{
        width:auto;
    }
    .layout{
        width:auto;
    }
}