<?xml version="1.0" encoding="UTF-8"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework, Version=v4.5" />
  </startup>
  <system.webServer>
    <modules>
      <add name="Timer" type="Umk_and_Rpd_on_Web.App_Code.TimerModule"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="16384" maxQueryString="65536" maxAllowedContentLength="2147482624"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" defaultLanguage="c#" explicit="true" strict="false" targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms name=".ASPXFORMSCOOKIE" loginUrl="~/Default.aspx" timeout="180" slidingExpiration="true" cookieless="AutoDetect" protection="All" requireSSL="false" enableCrossAppRedirects="false" defaultUrl="~/Title" path="/" />
    </authentication>
    <authorization />
    <sessionState mode="SQLServer" sqlConnectionString="Integrated Security=SSPI; data source=SQL;" useHostingIdentity="false" compressionEnabled="true" cookieless="AutoDetect" regenerateExpiredSessionId="true" timeout="300" customProvider="" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime executionTimeout="5400000" maxRequestLength="2097151"/>
  </system.web>
  <connectionStrings>
    <add name="AcademiaConnectingString" connectionString="Data Source=SQL;Initial Catalog=academia;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="personalConnectionString" connectionString="Data Source=SQL;Initial Catalog=personal;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>