<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UMK_RPD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UMK_RPD.Properties.Settings.personal" connectionString="Data Source=SQL;Initial Catalog=personal;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="UMK_RPD.Properties.Settings.academiaConnectionString" connectionString="Data Source=SQL;Initial Catalog=academia;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <UMK_RPD.Properties.Settings>
            <setting name="Setting_for_SaveRPD" serializeAs="String">
                <value/>
            </setting>
            <setting name="Setting_for_SaveUMK" serializeAs="String">
                <value/>
            </setting>
            <setting name="Path_to_Files" serializeAs="String">
                <value>\\ASU-IIS\C$\inetpub\wwwroot\ManagerUMK_RPD\RPD шаблон\</value>
            </setting>
        </UMK_RPD.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
